.main_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .main_box {
        background-color: red;
        width: 100%;
        max-width: 100%;
    }
    #search_box {
        width: 100%;
        height: 100px;
        font-size: 40pt;
    }
    #word_caption {
        font-size: 30pt;
    }
}
.inside {
    flex: 1 1 auto;
    margin: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}
.word_img_container {
    padding: 40;
}
.word_img {
    transform: scale(3);
}